<html>
    <head>
        <title>maic's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">maic's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>ya vas a ver, el fútbol va a ser de todes o no va a ser... y sí chabón, llevamos en los botines revolución</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>es sabido, con los genitales no se ganan los partidos</p>
        </div>
    </body>
</html>
